@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  min-width: 384px;;
}
p {
  @apply text-sm ;
  @apply md:text-base;
}
h1{
  @apply text-xl font-bold md:text-2xl lg:text-3xl lg:py-2
}
h2{
  @apply text-base font-light italic md:text-lg lg:text-xl
}



.hover-underline {
  background-image: linear-gradient(#fff 0 0);
  background-position: left bottom; /* OR left bottom*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}

.hover-underline:hover, .hover-underline--active, .hover-underline:active {
  background-size: 100% 3px;
} 

.myTransition{
  transition: height 0.3s ease;
}


.btnCalculator{
  @apply border-4;
  @apply  flex;
  @apply items-center ;
  @apply justify-center;
  @apply  border-red-900 ;
  @apply rounded-xl;
  @apply  text-red-900;
  @apply  text-3xl;
  @apply  font-bold;
  @apply  active:bg-red-900;
  @apply  active:text-white;
}

.btnCalculator-active{
  @apply  bg-red-900;
  @apply  text-white;
}

